body{
    font-family: 'Roboto', sans-serif;
}
.cards-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards-grid-container .card{
    width: 100% !important;
}