body{
    font-family: 'Roboto', sans-serif;
}
.cards-grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cards-grid-container .card{
    width: 100% !important;
}

.cards-grid-container .card .card-description{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}